body,html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	position: relative;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #383838;
}

.header-bar {
	width: 100%;
	height: 50px;
	background-color: #383838;
}

	.header-bar > .logo {
		height: 35px;
		padding-top: 7px;
		padding-left: 7px;
		float: left;
	}
	
	.header-bar > .icon-bar {
		float: right;
		margin-right: 15px;
	}
	
		.header-bar > .icon-bar > .icon {
			color: #d6d6d6;
			text-decoration: none;
			line-height: 50px;
			margin-left: 7px;
			margin-right: 7px;
			font-size: 18px;
			-webkit-transition: color 0.2s;
			-moz-transition: color 0.2s;
			-o-transition: color 0.2s;
			-ms-transition: color 0.2s;
			transition: color 0.2s;
		}

		.header-bar > .icon-bar > .icon:hover {
			color: #2d909c;
		}

		.header-bar > .icon-bar > .icon:first-child {
			margin-left: 0px;
		}

		.header-bar > .icon-bar > .icon:last-child {
			margin-right: 0px;
		}

.menu {
	width: 35px;
	background-color: #d6d6d6;
	padding: 10px;
	position:absolute;
	bottom: 0;
	top: 50px;
	text-align: center;
	box-shadow: inset -1px 0px 3px -1px rgba(1, 1, 1, 0.7); 
}

	.menu > .icon-bar > .icon {
		color: #616261;
		text-decoration: none;
		font-size: 36px;
		-webkit-transition: color 0.2s;
		-moz-transition: color 0.2s;
		-o-transition: color 0.2s;
		-ms-transition: color 0.2s;
		transition: color 0.2s;
	}

	.menu > .icon-bar > .icon:hover {
		color: #383838;
	}

.content-frame {
	position: absolute;
	top: 50px;
	left: 55px;
	bottom: 0;
	right: 0;
	padding: 20px;
	overflow: auto;
}

.content-frame h1 {
	margin-top: 0px;
	margin-bottom: 0px;
}

hr {
	border: 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #fff;
}

.text-tip {
	color: #999;
	font-weight: normal;
}

p.input-label {
	margin-bottom: 7px;
	font-weight: bold;
}

.standard-form > .input-control > .input-field input[type="text"],input[type="password"] {
	background-color: #fff;
	color: #383838;
	border-radius: 5px;
	padding: 10px;
	border: 1px solid #d6d6d6;
	box-shadow: 0px 1px 0px 0px #d6d6d6; 
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
	font-size: 14px;
}

.standard-form > .input-control > .input-field textarea {
	background-color: #fff;
	color: #383838;
	border-radius: 5px;
	padding: 10px;
	border: 1px solid #d6d6d6;
	box-shadow: 0px 1px 0px 0px #d6d6d6; 
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
	font-size: 14px;
}

.standard-form > .input-control {
	margin-bottom: 30px;
}

.standard-form > .input-control > .input-field input[type="submit"] {
	margin: 0 !important;
}

.btn {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	border: 1px solid #cccccc;
	*border: 0;
	padding: 10px;
	font-size: 14px;
	background-image: -moz-linear-gradient(top, #29a5c1, #208197);
    background-image: -ms-linear-gradient(top, #29a5c1, #208197);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #29a5c1), color-stop(100%, #208197));
    background-image: -webkit-linear-gradient(top, #29a5c1, #208197);
    background-image: -o-linear-gradient(top, #29a5c1, #208197);
    background-image: linear-gradient(#29a5c1, #208197);
	border-color: #208197;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    margin: 5px;
}

.btn:active {
	background-image: -moz-linear-gradient(top, #208197, #29a5c1);
    background-image: -ms-linear-gradient(top, #208197, #29a5c1);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #208197), color-stop(100%, #29a5c1));
    background-image: -webkit-linear-gradient(top, #208197, #29a5c1);
    background-image: -o-linear-gradient(top, #208197, #29a5c1);
    background-image: linear-gradient(#208197, #29a5c1);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

table.listElements {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

.listElements th,
.listElements td {
	padding: 8px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
	border-top: 1px solid #dddddd;
}

.listElements th {
	border-top: 0;
}

.span5 {
	width: 5px;
}
.span25 {
	width: 25px;
}
.span100 {
	width: 100px;
}
.span150 {
	width: 150px;
}
.span200 {
	width: 200px;
}
.span300 {
	width: 300px;
}

.iconlink {
	color: #383838;
	text-decoration: none;
	font-size: 22px;
}

.center {
	text-align: center !important;
}

.pathlink {
	color: #29a5c1;
	text-decoration: none;
}

@media only screen and (max-width: 600px), only screen and (max-device-width: 600px) {
	body {
		font-size: 14px;
	}

	h1 {
		font-size: 20px;
	}

	.header-bar {
		height: 90px;
		text-align: center;
	}

	.header-bar > .logo {
		float: none;
	}

	.header-bar > .icon-bar {
		float: none;
	}

	.menu {
		position: relative;
		width: 100%;
		top: 0;
		padding: 0;
	}

	.menu > .icon-bar > .icon {
		margin-left: 7px;
		margin-right: 7px;
	}

	.menu > .icon-bar > .icon:first-child {
		margin-left: 0px;
	}

	.menu > .icon-bar > .icon:last-child {
		margin-right: 0px;
	}

	.content-frame {
		position: relative;
		left: 0;
		top: 0;
	}

	.btn {
		width: 100%;
	}

	.listElements {
		font-size: 11px;
	}
}